*.iml
.DS_Store
.gradle/
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
app/build/
build/
gradle/
.idea/*

