*.iml
.DS_Store
.gradle/
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/vcs.xml
.idea/workspace.xml
local.properties
app/build/
build/
WiimmFiitus.iml
gradle/
.idea/*
gradlew.bat
.idea/
